body {
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: "Gidole-Regular";
	src: url(/e-levy-calculator-gh/8ce9f1aeb7bb35922c231b71f5dc00e3.ttf);
}

/* containers */

.mainContainer {
	background-color: #0e1354;
	background-image: url(/e-levy-calculator-gh/35c8c6cb9c3de92de531276ad1102079.png);
	background-blend-mode: multiply;
	color: white;
	width: 100%;
	min-height: 100vh;
	font-family: "Gidole-Regular";
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: auto;
	padding: 10px;
	grid-row-gap: 30px;
	grid-column-gap: 60px;
	-ms-flex-align: center;
	    align-items: center;
}

.gridItem {
	max-width: 100%;
}


.gridItem.gridItemFull {
	grid-row: span 1;
	grid-column: span 2;
}

.centerFlex {
	-ms-flex-align: center;
	    align-items: center;
}



/* Text Elements */
.labelText {
	font-weight: 500;
	font-size: 16px;
	color: rgb(201, 201, 201);
	margin: 15px;
	letter-spacing: normal;
	max-width: 100%;
	box-sizing: border-box;
}


.displayText {
	max-width: 100%;
	font-size: 35px;
	color: white;
	padding: 10px 20px;
}

.currency {
	font-size: 35px;
	color: white;
	margin-left: -80px;
}

.charge {
	background-color: #e84a46;
	border-radius: 5px;
	padding: 5 10px;
}

.disclaimer {
	font-weight: 500;
	color: white;
	font-size: 12px;
	text-align: center;
}


.footer {
	position: absolute;
	bottom: 0;
	color: white;
	font-size: 12px;
	margin: 5px;
}

/* Inputs */
.inputGroup {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	max-width: 100%;
}

.inputField {
	border: 1px solid #00043c;
	border-radius: 5px;
	max-width: 100%;
	font-size: 35px;
	color: white;
	padding: 10px 20px;
	background-color: #00043c;
	box-sizing: border-box;
	width: 100%;
}

.inputField:focus {
	outline: 4px solid #020315;
}

.inputFieldEmphasis {
	outline: 4px solid #020315;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
	.mainContainer {
		padding-top: 50px;
		-ms-flex-pack: start;
		    justify-content: start;
	}

	.gridContainer {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-template-rows: auto;
		max-width: 100%;
	}

	.gridItem.gridItemFull {
		grid-row: span 1;
		grid-column: span 1;
		max-width: 100%;
	}

	.inputField {
		font-size: 25px;
		box-sizing: border-box;
	}

	.inputFieldEmphasis {
		outline: 1px solid #020315;
	}

	.currency {
		font-size: 25px;
		margin-left: -70px;
	}

	.displayText {
		max-width: 100%;
		font-size: 25px;
	}

	.disclaimer {
		font-size: 8px;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/*# sourceMappingURL=ssr-bundle.c1ef3.css.map*/