<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %> | Calculate Ghana's E-Levy Charge</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<meta name="description" content="Find out how much will be charged for sending money electronically, as part of Ghana's new E-Levy">
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="https://dolyanne.github.io/e-levy-calculator-gh/" />
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
